body{
margin: 0px;
padding: 0px;
}
.white{
height:100px;
width:11%;
float:left;
background-color:white;
}
.black{
height:100px;
width:11%;
float:left;
background-color:black;
}
.red{
height:100px;
width:11%;
float:left;
background-color:red;
}
.yellow{
height:100px;
width:11%;
float:left;
background-color:yellow;
}
.skyblue{
height:100px;
width:11%;
float:left;
background-color:skyblue;
}
.pink{
heiinkght:100px;
width:11%;
float:left;
background-color:pink;
}
.lightyellow{
height:100px;
width:11%;
float:left;
background-color:#FBC252;
}
.pink{
height:100px;
width:11%;
float:left;
background-color:pink;
}
.yellow{
height:100px;
width:11%;
float:left;
background-color:yellow;
}
.green{
height:100px;
width:11%;
float:left;
background-color:green;
}
.purple{
height:100px;
width:11%;
float:left;
background-color:purple;
}
.blue{
height:100px;
width:11%;
float:left;
background-color:#86E5FF;
}
.deepblue{
height:100px;
width:11%;
float:left;
background-color:#0081C9;
}
.brown{
height:100px;
width:11%;
float:left;
background-color:brown;
}
.golden{
height:100px;
width:11%;
float:left;
background-color:#6COOFF;
}
